* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(./assets/images/3d-render-solar-system-background-with-colourful-nebula.jpg)
  no-repeat;
  background-size: cover;
  background-position: center;
}